#sidenav.affix {
    top: 50px;
}
.nav-home  {
    overflow: hidden;
    zoom: 1;
    margin-top: 15px;
    margin-bottom: 30px;
}
.nav-home > li {
    float: left;
    padding: 0px;
    margin: 0;
}
.nav-home > li > a {
    padding: 4px;
    margin: 0;
}

.nav-home-stacked > li {
    float: none !important;
}

.wrapped {
    background-color: #fff;
    border-width:0.5em 0;
    background-color: #fff;
    opacity: 0.8;
    padding: 6px 0;
    box-shadow: 9px 0 0 #fff, -9px 0 0 #fff;
}
#modheader {
    height: 210px;
    position: relative;
}
#modheader .inner {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
}
#mod_image {
    position: absolute;
    width: 100%;
    height: 316px;    
}
.highlight_class {
    color: #000277;
}
.highlight_method {
    color: #CE1600;
}