#sidenav.affix {
    top: 90px;
}

@media (max-width: 992px) {
  #sidenav {
    position: static !important;
    width: auto !important;
    top: 0 !important;
  }
  #mainbar {
      clear: both;
  }
}

.nav-home  {
    overflow: hidden;
    zoom: 1;
    margin-top: 15px;
    margin-bottom: 30px;
}
.nav-home > li {
    float: left;
    padding: 0px;
    margin: 0;
}
.nav-home > li > a {
    padding: 4px;
    margin: 0;
}

.nav-home-stacked > li {
    float: none !important;
}

.wrapped {
    background-color: #fff;
    border-width:0.5em 0;
    background-color: #fff;
    opacity: 0.8;
    padding: 6px 0;
    box-shadow: 9px 0 0 #fff, -9px 0 0 #fff;
}
#modheader {
    height: 210px;
    position: relative;
}
#modheader .inner {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
}
#mod_image {
    position: absolute;
    width: 100%;
    height: 316px;    
}
.highlight_class {
    color: #000277;
}
.highlight_method {
    color: #CE1600;
}

.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  background-color: #fff;
  border-radius: 3px;
}

/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}