<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th><th>Class</th><th>Exception</th><th>File</th><th>Method</th><th>Line</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1970-01-17 04:14:34</td><td>openeye.Mod</td><td>java.lang.RuntimeException</td><td>Mod.java</td><td>onInit</td><td>60</td>            
        </tr>
        <tr>
            <td>1970-01-17 04:14:34</td><td>openeye.Mod</td><td>java.lang.RuntimeException</td><td>Mod.java</td><td>onInit</td><td>60</td>            
        </tr>
    </tbody>
</table>